.services {
    max-width: 768px;
    position: relative;
    margin-top: 15%;
    text-align: center;
}
.services-table {
    width: 90%;
    margin-left: 5%;
    border-collapse: collapse;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
    height: 50vh;
}
.services-table th,
.services-table td {
    padding: 10px;
    border: 1px solid #387478;
    text-align: left;
}
.services-table th {
    background-color: #387478;
    font-weight: bold;
}
.services-table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}